* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  color: rgb(14, 186, 243);
  background-color: black;
  /* text-shadow: 2px 0 0 rgb(125, 212, 241); */
  text-shadow: 2px 0 0 rgb(241, 172, 67);
  /* font-family: 'Freckle Face', cursive; */
}

.grid {
  background-image: url(http://giphygifs.s3.amazonaws.com/media/FlodpfQUBSp20/giphy.gif);
  align-items: center;
  box-shadow: 0 0 20px 0 rgb(14, 186, 243);
  margin: 0px 35px;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  max-height: 800px;
  max-width: 800px;
  border-radius: 20px;
}

.grid div {
  /* border: 1px solid lightgrey; */
  flex-grow: 1;
  height: 5%;
  width: 5%;
}

.grid div.player {
  background-image: url(../images/kisspng-spaceshiptwo-spacecraft-sprite-spaceshipone-portab-space-war-google-playampaposde-uygulamalar-5bd6a481273989.3786541515407934731607.png);
  background-size: 100%;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.explosion {
  background-image: url(../images/PinClipart.com_explosion-clipart_310561.png);
  background-size: 95%;
  background-position-x: 0;
  background-position-y: 0;
  
  
}

.grid div.aliens {
  background-image: url(../images/kisspng-space-invaders-arcade-game-video-game-pac-man-space-invaders-5acb3c22e766f0.4038684515232686429478.png);
  background-size: 100%;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.bullet {
  background-image: url(../images/laser-sprite-png-6-original.png);
  background-size: 100%;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.bomb {
  background-image: url(../images/laser-sprite-png-8.png);
  background-size: 100%;
  background-position-x: 0;
  background-position-y: 0;
}



button:focus {
  outline: none;
}

h1 {
  font-size: 200px;
}



.enter {
  font-size: 30px;
}

section {
  display: flex;
  justify-content: center;
}



.logo-left{
  display: flex;
  font-size: 30px;
  justify-content: center;
  text-align: center;
  align-self: flex-start;
  margin: 40px 15px 0px 0px;
  
}

.logo-right {
  display: flex;
  font-size: 30px;
  justify-content: center;
  text-align: center;
  align-self: flex-start;
  margin: 40px 0px 0px 15px;
  
}

#reset {
  position: absolute;
  font-family: 'Press Start 2P', cursive;
  width: 100%;
  bottom: 300px;
  background-color: Transparent;
  border: none;
  font-size: 20px;
  color: rgb(14, 186, 243);
  text-shadow: 2px 0 0 rgb(241, 172, 67);
}

#start {
  width: 80px;
  height: 20px;
}

#win {
  position: absolute;
  top: 700;
  margin: 0;
}

#game-over {
  position: absolute;
  text-align: center;
  font-size: 140px;
  bottom: 205px;
  left: 40px;
}

#win {
  position: absolute;
  text-align: center;
  font-size: 150px;
  top: 335px;
  left: 140px;
}

#score-div {
  font-size: 40px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
  margin: 0px 20px 50px 0px;
  
}

#lives-div {
  font-size: 40px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
  margin: 0px 0px 50px 20px;
  
}

#left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  
}

#right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

#lives {
  /* display: flex;
  justify-content: center; */
  font-size: 55px;
}

#score {
  display: flex;
  justify-content: center;
  font-size: 55px;
}

.break {
  margin: 0px 0px 10px 0px;
}

#blinkme {
  animation: blinker 1.5s linear infinite;
  color: rgb(14, 186, 243);
  
}
@keyframes blinker {
40% {
 opacity: 0;
}
}

.blinkme {
  animation: blinker 0.8s linear infinite;
  color: rgb(14, 186, 243);
  
}
@keyframes blinker {
40% {
 opacity: 0;
}
}